@model GestionReservas.Models.Reserva

@{
    Layout = "_Layout";
    ViewData["Title"] = "Crear Reserva";
}

<h2 class="mb-4">Crear Nueva Reserva</h2>

<div class="card shadow-sm p-4">
    <form asp-action="Crear" method="post">

        <!-- NOMBRE PROFESOR -->
        <div class="mb-3">
            <label class="form-label">Nombre del Profesor:</label>
            <input asp-for="NombreProfesor" class="form-control" />
            <span asp-validation-for="NombreProfesor" class="text-danger"></span>
        </div>

        <!-- CORREO -->
        <div class="mb-3">
            <label class="form-label">Correo Electrónico:</label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>

        <!-- LABORATORIO -->
        <div class="mb-3">
            <label class="form-label">Laboratorio:</label>
            <input asp-for="Laboratorio" class="form-control" />
            <span asp-validation-for="Laboratorio" class="text-danger"></span>
        </div>

        <!-- FECHA -->
        <div class="mb-3">
            <label class="form-label">Fecha de Reserva:</label>
            <input asp-for="FechaReserva" type="date" class="form-control" />
            <span asp-validation-for="FechaReserva" class="text-danger"></span>
        </div>

        <!-- HORA INICIO -->
        <div class="mb-3">
            <label class="form-label">Hora de Inicio:</label>
            <input asp-for="HoraInicio" type="time" class="form-control" />
            <span asp-validation-for="HoraInicio" class="text-danger"></span>
        </div>

        <!-- HORA FIN -->
        <div class="mb-3">
            <label class="form-label">Hora de Fin:</label>
            <input asp-for="HoraFin" type="time" class="form-control" />
            <span asp-validation-for="HoraFin" class="text-danger"></span>
        </div>

        <!-- MOTIVO -->
        <div class="mb-3">
            <label class="form-label">Motivo / Descripción de la Reserva:</label>
            <textarea asp-for="Motivo" class="form-control" rows="3" maxlength="200"></textarea>
            <span asp-validation-for="Motivo" class="text-danger"></span>
        </div>

        <!-- CÓDIGO RESERVA -->
        <div class="mb-3">
            <label class="form-label">Código de Reserva (Formato RES-###):</label>
            <input asp-for="CodigoReserva" class="form-control" placeholder="Ej: RES-001" />
            <span asp-validation-for="CodigoReserva" class="text-danger"></span>
        </div>
         
        <!-- BOTONES -->
        <div class="mt-4 d-flex gap-3">
            <button type="submit" class="btn btn-dark px-4">Guardar</button>

            <a asp-action="Index" class="btn btn-outline-dark px-4">
                Volver
            </a>
        </div>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 